# sudo atp update
- name: Update apt cache
  ansible.builtin.apt:
    state: present
    update_cache: yes
  become: true

# sudo install -m 0755 -d /etc/apt/keyrings
- name: Ensure keyrings directory exists
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    owner: root
    group: root
    mode: '755'
  become: true

# curl -fSs https://mise.jdx.dev/gpg-key.pub | sudo tee /etc/apt/keyrings/mise-archive-keyring.pub 1> /dev/null
- name: Download mise GPG key
  ansible.builtin.get_url:
    url: https://mise.jdx.dev/gpg-key.pub
    dest: /etc/apt/keyrings/mise-archive-keyring.pub
    mode: '0644'
  become: true

# echo "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.pub arch=amd64] https://mise.jdx.dev/deb stable main" | sudo tee /etc/apt/sources.list.d/mise.list
- name: Add mise repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.pub arch=amd64] https://mise.jdx.dev/deb stable main"
    state: present
    filename: mise
  become: true

# sudo apt update
- name: Update apt cache after adding repository
  ansible.builtin.apt:
    state: present
    update_cache: yes
  become: true

# sudo apt install -y mise
- name: Install mise
  ansible.builtin.apt:
    name: mise
    state: present
  become: true

- name: Add mise activation to bashrc
  ansible.builtin.lineinfile:
    path: "/home/{{ target_user }}/.bashrc"
    line: 'eval "$(mise activate bash)"'
    create: yes
    state: present
  become_user: "{{ target_user }}"

- name: Copy local config to remote
  ansible.builtin.copy:
    src: "files/"
    dest: "/home/{{ target_user }}/"
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
  become_user: "{{ target_user }}"

- name: Install mise dependencies
  ansible.builtin.shell: mise trust && mise activate && mise install
  become_user: "{{ target_user }}"
