services:
  tunnel:
    image: cloudflare/cloudflared:2025.11.1
    container_name: cloudflared_tunnel
    command: "tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}"
    restart: unless-stopped
    networks:
      - tunnel

  reverse_proxy:
    image: traefik:v3.6
    container_name: traefik
    # ports:
    #   - "80:80"
    #   - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # traefik needs to be able to listen to docker related events to read from label changes
      - /opt/homelab/configs/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro # the default location traefik is looking for config see (https://doc.traefik.io/traefik/reference/install-configuration/boot-environment/)
    restart: unless-stopped
    networks:
      - tunnel
      - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=PathPrefix(`/traefik/api`) || PathPrefix(`/traefik/dashboard`)"
      - "traefik.http.routers.dashboard.service=api@internal"

  homepage:
    image: ghcr.io/gethomepage/homepage:v1.8
    container_name: homepage
    volumes:
      # - /var/run/docker.sock:/var/run/docker.sock:ro # for docker integrations
      - /opt/homelab/configs/homepage:/app/config # Config
    environment:
      HOMEPAGE_ALLOWED_HOSTS: '*'
    restart: unless-stopped
    networks:
      - frontend
    labels:
      # traefik labels
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.rule=PathPrefix(`/`)"
      - "traefik.http.routers.homepage.entrypoints=web"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    networks:
      - frontend
    restart: unless-stopped
    labels:
      # traefik labels
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=PathPrefix(`/nginx`)"
      - "traefik.http.routers.nginx.entrypoints=web"
      - "traefik.http.services.nginx.loadbalancer.server.port=80"
      - "traefik.http.routers.nginx.middlewares=nginx-stripprefix"
      - "traefik.http.middlewares.nginx-stripprefix.stripprefix.prefixes=/nginx"

  # netdata:
  #   image: netdata/netdata:v2.8.4
  #   container_name: netdata
  #   cap_add:
  #     - SYS_PTRACE
  #   security_opt:
  #     - apparmor=unconfined
  #   networks:
  #     - frontend
  #     - tunnel
  #   restart: unless-stopped
  #   volumes:
  #     - /proc:/host/proc:ro
  #     - /sys:/host/sys:ro
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.netdata.rule=PathPrefix(`/netdata`)"
  #     - "traefik.http.routers.netdata.entrypoints=web"
  #     - "traefik.http.services.netdata.loadbalancer.server.port=19999"
  #     - "traefik.http.routers.netdata.middlewares=netdata-stripprefix"
  #     - "traefik.http.middlewares.netdata-stripprefix.stripprefix.prefixes=/netdata"

  glances:
    image: nicolargo/glances:4.4.1
    container_name: glances
    restart: unless-stopped
    pid: host
    networks:
      - frontend
      - tunnel
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/homelab/configs/glances:/etc/glances
    environment:
      - "GLANCES_OPT=-w"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.glances.rule=PathPrefix(`/glances`)"
      - "traefik.http.routers.glances.entrypoints=web"
      - "traefik.http.services.glances.loadbalancer.server.port=61208"
      # - "traefik.http.routers.glances.middlewares=glances-stripprefix"
      # - "traefik.http.middlewares.glances-stripprefix.stripprefix.prefixes=/glances"

networks:
  tunnel:
  frontend:
