services:
  tunnel:
    image: cloudflare/cloudflared:2025.11.1
    container_name: cloudflared_tunnel
    command: "tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}"
    restart: unless-stopped
    networks:
      - tunnel

  reverse_proxy:
    image: traefik:v3.6
    container_name: traefik
    # ports:
    #   - "80:80"
    #   - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # traefik needs to be able to listen to docker related events to read from label changes
      - /opt/homelab/configs/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro # the default location traefik is looking for config see (https://doc.traefik.io/traefik/reference/install-configuration/boot-environment/)
    restart: unless-stopped
    networks:
      - tunnel
      - frontend
      # labels:
      #   # traefik labels
      #   - "traefik.enable=true"
      #   - "traefik.http.routers.reverse_proxy.rule=PathPrefix(`/traefik`)"
      #   - "traefik.http.routers.reverse_proxy.service=api@internal" # this tells traefik to route to it's own internal api
      #   - "traefik.http.routers.reverse_proxy.entrypoints=web"
      #   - "traefik.http.routers.reverse_proxy.middlewares=reverse_proxy-stripprefix"
      #   - "traefik.http.middlewares.reverse_proxy-stripprefix.stripprefix.prefixes=/traefik"
      #   - "traefik.http.services.reverse_proxy.loadbalancer.server.port=8080"

  homepage:
    image: ghcr.io/gethomepage/homepage:v1.8
    container_name: homepage
    volumes:
      # - /var/run/docker.sock:/var/run/docker.sock:ro # for docker integrations
      - /opt/homelab/configs/homepage:/app/config # Config
    environment:
      HOMEPAGE_ALLOWED_HOSTS: '*'
    networks:
      - frontend
    labels:
      # traefik labels
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.rule=PathPrefix(`/`)" # Catches all traffic
      - "traefik.http.routers.homepage.entrypoints=web"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    networks:
      - frontend
    labels:
      # traefik labels
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=PathPrefix(`/nginx`)"
      - "traefik.http.routers.nginx.entrypoints=web"
      - "traefik.http.services.nginx.loadbalancer.server.port=80"
      - "traefik.http.routers.nginx.middlewares=nginx-stripprefix"
      - "traefik.http.middlewares.nginx-stripprefix.stripprefix.prefixes=/nginx"

networks:
  tunnel:
  frontend:
