services:
  tunnel:
    image: cloudflare/cloudflared:2025.11.1
    container_name: cloudflared_tunnel
    command: "tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}"
    restart: unless-stopped
    networks:
      - tunnel

  reverse_proxy:
    image: traefik:v3.6
    container_name: reverse_proxy
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/homelab/configs/traefik/traefik.yaml:/etc/traefik/traefik.yaml
    restart: unless-stopped
    networks:
      - tunnel
      - reverse_proxy

networks:
  tunnel:
  reverse_proxy:
