# This is the ansible version of the docker installation provided by their docs
# https://docs.docker.com/engine/install/ubuntu/
- name: Homelab DigitalOcean server
  hosts: homelab
  become: true
  vars:
    cloudflare_tunnel_token: "{{ lookup('env', 'CLOUDFLARE_TUNNEL_TOKEN') }}"
  tasks:
    # sudo apt-get update
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600

    # sudo apt-get install ca-certificates curl
    - name: Install pre-requisite packages
      ansible.builtin.apt:
        name:
          - ca-certificates
          - curl
        state: present

    # sudo install -m 0755 -d /etc/apt/keyrings
    - name: Ensure keyrings directory exists
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        owner: root
        group: root
        mode: '755'

    # sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
    # sudo chmod a+r /etc/apt/keyrings/docker.asc
    - name: Download Docker gpg key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        owner: root
        group: root
        mode: '0444'

    # echo \
    # "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
    # $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}") stable" | \
    # sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
    - name: Get system architecture
      ansible.builtin.command: dpkg --print-architecture
      register: dpkg_arch
      changed_when: false

    - name: Add Docker repository
      ansible.builtin.apt_repository:
        repo: "deb [arch={{ dpkg_arch.stdout }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present
        filename: docker

    # sudo apt-get update
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600


    # sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
    - name: Install Docker
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present

    # Verify that the installation is successful by running the hello-world image
    - name: Run Docker hello-world container
      community.docker.docker_container:
        name: hello-world
        image: hello-world
        state: started
        detach: false
        auto_remove: true

    # docker network create homelab
    - name: Create a docker network for the homelab
      community.docker.docker_network:
        name: homelab

    - name: Run cloudflare tunnel
      community.docker.docker_container:
        name: cloudflared-tunnel
        image: cloudflare/cloudflared:latest
        command: "tunnel --no-autoupdate run --token {{ lookup('ansible.builtin.env', 'CLOUDFLARE_TUNNEL_TOKEN') }}"
        state: started
        restart_policy: unless-stopped
        detach: true
        pull: true
        network_mode: host
