[tools]
ansible = "12.1.0"
azure-cli = "2.81.0"
jq = "1.8.1"
pipx = "1.8.0"
python = "3.11"
terraform = "1.13"

[tasks."tf:init:dev"]
description = "Initialize terraform"
run = ["terraform init"]
dir = "./terraform/environments/dev"

[tasks."tf:apply:dev"]
description = "Run terraform apply for dev"
run = "terraform apply"
dir = "./terraform/environments/dev"

[tasks."ssh:prepare:dev"]
description = "Get the private SHH key for the homelab dev server"
run = """
VAULT_NAME=$(cd ./terraform/environments/dev && terraform output -json | jq -r '.homelab_server_private_key.value.azure_vault_name')
SECRET_NAME=$(cd ./terraform/environments/dev && terraform output -json | jq -r '.homelab_server_private_key.value.azure_secret_name')
az keyvault secret show \
--vault-name $VAULT_NAME \
--name $SECRET_NAME \
--query value -o tsv > ~/.ssh/digitalocean_homelab_dev
chmod 600 ~/.ssh/digitalocean_homelab_dev
"""

[tasks."ansible:prepare:dev"]
description = "Generate inventory and env variables for ansible dev"
run = """
(cd ./terraform/environments/dev && terraform output -raw homelab_server_ansible_inventory) > ./ansible/inventory.yaml
"""

[tasks."ansible:deploy:dev"]
description = "Run ansible playbook against homelab server"
run = """
export CLOUDFLARE_TUNNEL_TOKEN=$(cd ./terraform/environments/dev && terraform output -raw homelab_server_cloudflare_tunnel_token)
cd ./ansible && ansible-playbook -i inventory.yaml playbook.yaml 
"""

[tasks."docker:prepare:dev"]
description = "Create env file and context for homelab deployment"
run = """
echo "CLOUDFLARE_TUNNEL_TOKEN=$(cd ./terraform/environments/dev && terraform output -raw homelab_server_cloudflare_tunnel_token)" > ./docker/.env
SERVER_IP=$(cd ./terraform/environments/dev && terraform output -raw homelab_server_ipv4)
cd ./docker
docker context rm homelab-${ENVIRONMENT} 2>/dev/null || true
docker context create homelab-${ENVIRONMENT} --docker "host=ssh://root@$SERVER_IP"
"""

[tasks."docker:deploy:dev"]
description = "Deploy the docker compose to the homelab"
run = """
if [ -z "$SSH_AUTH_SOCK" ]; then
    eval $(ssh-agent)
fi
ssh-add ~/.ssh/digitalocean_homelab_dev
docker --context homelab-${ENVIRONMENT} compose up -d --remove-orphans
"""
dir = "./docker"


[tasks."destroy:dev"]
description = "Destroys the full dev homelab"
run = """
if [ -z "$SSH_AUTH_SOCK" ]; then
    eval $(ssh-agent)
fi
ssh-add ~/.ssh/digitalocean_homelab_dev
cd docker
docker --context homelab-${ENVIRONMENT} compose down
cd ..
cd terraform/environments/dev
terraform apply -destroy -auto-approve
"""
