[tools]
ansible = "12.1.0"
azure-cli = "2.81.0"
jq = "1.8.1"
pipx = "1.8.0"
python = "3.11"
terraform = "1.13"

[tasks."tf:init"]
description = "Initialize terraform"
run = ["terraform init"]
dir = "./terraform"

[tasks."tf:workspace"]
description = "Creates or switches to workspace"
run = "terraform workspace select $ENVIRONMENT || terraform workspace new $ENVIRONMENT"
dir = "./terraform/"

[tasks."tf:plan"]
description = "Run terraform plan for"
run = "terraform plan -var-file=environments/${ENVIRONMENT}.tfvars"
dir = "./terraform"
depends = ["tf:workspace"]

[tasks."tf:apply"]
description = "Run terraform apply for"
run = "terraform apply -var-file=environments/${ENVIRONMENT}.tfvars"
dir = "./terraform"
depends = ["tf:workspace"]

[tasks."tf:outputs"]
description = "Run terraform output for"
run = "terraform output -json > ../inventory/${ENVIRONMENT}_outputs.json"
dir = "./terraform"
depends = ["tf:workspace"]

# [tasks."inventory:generate"]
# run = "./scripts/generate_inventory.sh ${ENVIRONMENT}"

[tasks."ssh:prepare"]
description = "Get the private SHH key for the homelab server"
run = """
az keyvault secret show \
--vault-name $(terraform output -json | jq -r '.homelab_do_server_private_key.value.vault_name') \
--name $(terraform output -json | jq -r '.homelab_do_server_private_key.value.secret_name') \
--query value -o tsv > ~/.ssh/do_homelab
chmod 600 ~/.ssh/do_homelab
"""
dir = "./terraform/"
depends = ["tf:workspace"]

[tasks."ansible:prepare"]
description = "Generate inventory and env variables for ansible"
run = """
terraform output -raw ansible_inventory > ../ansible/inventory.yaml
# terraform output -raw ansible_extra_vars > ../ansible/extra-vars.yaml
"""
dir = "./terraform"
depends = ["tf:workspace"]

# [tasks."ansible:run"]
# run = "ansible-playbook -i inventory/${ENVIRONMENT}.ini playbooks/site.yml -e env=${ENVIRONMENT}"

[tasks."ansible:deploy"]
description = "Run ansible playbook against homelab server"
run = """
export CLOUDFLARE_TUNNEL_TOKEN=$(cd ../terraform && terraform output -raw cloudflare_tunnel_token)
ansible-playbook -i inventory.yaml playbook.yaml 
"""
dir = "./ansible"
depends = ["tf:workspace"]

[tasks."docker:prepare"]
run = """
echo "CLOUDFLARE_TUNNEL_TOKEN=$(cd ./terraform && terraform output -raw cloudflare_tunnel_token)" > ./docker/.env
SERVER_IP=$(cd ./terraform && terraform output -raw homelab_do_ipv4)
cd ./docker
docker context rm homelab-${ENVIRONMENT} 2>/dev/null || true
docker context create homelab-${ENVIRONMENT} --docker "host=ssh://root@$SERVER_IP"
"""
depends = ["tf:workspace"]

[tasks."docker:deploy"]
run = """
if [ -z "$SSH_AUTH_SOCK" ]; then
    eval $(ssh-agent)
fi
ssh-add ~/.ssh/do_homelab
docker --context homelab-${ENVIRONMENT} compose up -d
"""
dir = "./docker"

[tasks.destroy]
description = "Destroys the homelab"
run = """
cd docker
docker --context homelab-${ENVIRONMENT} compose down
cd ..
cd terraform
terraform apply -destroy -auto-approve
"""
depends = ["tf:workspace"]
