- name: Set up homelab
  hosts: homelabdesktop
  vars:
    target_user: "{{ lookup('env', 'REMOTE_USER') }}"
  roles:
    - role: info
      tags: info
    - role: mise
      tags: mise
    - role: docker
      tags: docker
    - role: nvidia_driver
      tags: nvidia_driver
    - role: nvidia_container_toolkit
      tags: nvidia_container_toolkit

  tasks:
    # sudo atp update && sudo apt install curl etc...
    - name: Update apt cache and install core dependencies
      ansible.builtin.apt:
        name:
          - curl
          - btop
        state: present
        update_cache: yes
      become: true


  # # docker run --rm --gpus all nvidia/cuda:12.0-base nvidia-smi
  # - name: Test GPU access in Docker
  #   community.docker.docker_container:
  #     name: nvidia-smi-test
  #     image: nvidia/cuda:12.0-base
  #     command: nvidia-smi
  #     device_requests:
  #       - driver: nvidia
  #         count: -1
  #         capabilities:
  #           - ['gpu']
  #     detach: false
  #     auto_remove: true
  #   become: true
  #   register: nvidia_smi_result
  #
  # - name: Show nvidia-smi output
  #   ansible.builtin.debug:
  #     var: nvidia_smi_result
